.gravityflow_workflow_wrap .gf_admin_page_title,
.gravityflow_workflow_detail .entry-detail-view thead tr th input,
.gravityflow_workflow_detail .entry-detail-view thead tr th label {
	display: none;
}

.gravityflow-instructions {
	border: 1px solid green;
	background-color: #efe;
	font-weight: 700;
}

.manage-invoices-screen {
	width: 45% !important;
}

.invoice-payment-link.input-group {
	display: table;
	width: 30%;
}

.invoice-payment-link input[type="text"] {
	min-height: 34px;
	padding: 7px 8px;
	font-size: 13px;
	color: #333;
	vertical-align: middle;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: right 8px center;
	border: 1px solid #ccc;
	border-radius: 3px;
	outline: none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.invoice-payment-link.input-group input {
	position: relative;
	width: 100%;
}

.invoice-payment-link.input-group input,
.invoice-payment-link .input-group-button {
	display: table-cell;
}

.invoice-payment-link.input-group input:first-child,
.invoice-payment-link .input-group-button:first-child .copy-link {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.invoice-payment-link .input-group-button {
	width: 1%;
	vertical-align: middle;
}

.invoice-payment-link .copy-link {
	position: relative;
	display: inline-block;
	padding: 6px 12px;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	color: #333;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-color: #eee;
	background-image: linear-gradient(#fcfcfc,#eee);
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
}

.invoice-payment-link.input-group input:last-child,
.invoice-payment-link .input-group-button:last-child .copy-link {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.invoice-payment-link .input-group-button:last-child .copy-link {
	margin-left: -1px;
}

.clippy {
	margin-top: -3px;
	position: relative;
	top: 3px;
}